# Create crosstabs


## Introduction
Tally's `crosstab` method supports a variety of options and can be used both in a Jupyter Notebook environment and to produce Excel tables. Here we will cover how the method works and what options it supports, and in the next section we will show how it can be used to generate Excel tables.

Using the crosstab method in a Jupyter Notebook, as opposed to using it to populate an Excel file, is useful for verifying the data processing work we are doing and for sanity and quality checks.

## Running a basic crosstab
Tally's crosstab method is used to run crosstabs (see the [API reference on crosstab](https://tally.datasmoothie.com/#tag/Aggregations/operation/crosstab) for full details).

In [1]:
import os, sys
sys.path.append(os.path.abspath('../../'))
import tally
dataset = tally.DataSet(api_key=os.environ.get('tally_api_key'))
dataset.use_spss('./data/Example Data (A).sav')

In [2]:
dataset.crosstab(x='q2b', y='gender')

Question                                                       What is your gender?  \
Values                                                                         Male
Question                                           Values
How regularly do you participate in any fitness... Base                      2998.0
                                                   Regularly                  385.0
                                                   Irregularly               2458.0
                                                   Never                      155.0

Question
Values                                                          Female
Question                                           Values
How regularly do you participate in any fitness... Base         3309.0
                                                   Regularly     356.0
                                                   Irregularly  2689.0
                                                   Never         264.0

The default value displayed in the table cells are counts. We can decide whether we want to display counts, column percentages (c%) or both with the `ci` parameter. For a full list of parameters, consult the [DataSet class documentation](api_dataset)

In [3]:
dataset.crosstab( x='q2b', y='gender', ci=['counts', 'c%'])

Question                                                       What is your gender?  \
Values                                                                         Male
Question                                           Values
How regularly do you participate in any fitness... Base                      2998.0
                                                   Regularly                  385.0
                                                                               12.8
                                                   Irregularly               2458.0
                                                                               82.0
                                                   Never                      155.0
                                                                                5.2

Question
Values                                                          Female
Question                                           Values
How regularly do you participate in any fitness... Base         3309.0
                                                   Regularly     356.0
                                                                  10.8
                                                   Irregularly  2689.0
                                                                  81.3
                                                   Never         264.0
                                                                   8.0

## Intepreting significance test results

We can test for significance using column proportion tests by adding the parameter `sig_level`.

In [4]:
dataset.crosstab(x='q2b', y='locality', ci=['c%'], sig_level=[0.05])

Question                                                       How would you describe the areas in which you live?  \
Values                                                                             CBD (central business district)
Test-IDs                                                                                                         A
Question                                           Values
How regularly do you participate in any fitness... Base                                                    2465.0
                                                   Regularly                                            11.643002
                                                   0.05                                                         E
                                                   Irregularly                                          82.068966
                                                   0.05                                                      null
                                                   Never                                                 6.288032
                                                   0.05                                                      null

Question                                                                   \
Values                                                              Urban
Test-IDs                                                                B
Question                                           Values
How regularly do you participate in any fitness... Base            1618.0
                                                   Regularly    13.411619
                                                   0.05                 E
                                                   Irregularly  80.593325
                                                   0.05              null
                                                   Never         5.995056
                                                   0.05              null

Question                                                                 \
Values                                                         Suburban
Test-IDs                                                              C
Question                                           Values
How regularly do you participate in any fitness... Base           903.0
                                                   Regularly       11.7
                                                   0.05            null
                                                   Irregularly     81.8
                                                   0.05            null
                                                   Never            6.4
                                                   0.05            null

Question                                                               \
Values                                                          Rural
Test-IDs                                                            D
Question                                           Values
How regularly do you participate in any fitness... Base         538.0
                                                   Regularly     11.9
                                                   0.05          null
                                                   Irregularly   80.3
                                                   0.05          null
                                                   Never          7.8
                                                   0.05          null

Question
Values                                                             Remote
Test-IDs                                                                E
Question                                           Values
How regularly do you participate in any fitness... Base             647.0
                                                   Regularly     8.655332
                                                   0.05              null
                                                   Irregularly  82.225657
                                                   0.05              null
                                                   Never         9.119011
                                                   0.05             A.B.C

Each answer has its own letter to identify it, e.g. "Central Business District" is A, "Urban" is B. The test results are shown by each answer, and if a letter for a column shows up, it means that the current column is significantly higher than the column indicated by the letter. For example, people who live in central business districts and in urban locations (Test-IDs A and B) are significantly liklier to excersise regularly than those in Remote locations (Test-ID E).


## Adding descriptive statistics to crosstabs

We can add descriptive statistics to crosstabs with the parameter 'stats'.

In [5]:
dataset.crosstab(x='q14r01c01', y='locality', ci=['c%'], stats=['mean'], sig_level=[0.05])

Question                                                                   How would you describe the areas in which you live?  \
Values                                                                                         CBD (central business district)
Test-IDs                                                                                                                     A
Question                                        Values
Store 1 - I had a good experience in the store. Base                                                                   3106.0
                                                Strongly disagree                                                   24.179008
                                                0.05                                                                     null
                                                Disagree                                                            24.146813
                                                0.05                                                                     null
                                                Neither agree nor disagree                                          26.529298
                                                0.05                                                                        C
                                                Agree                                                               25.144881
                                                0.05                                                                     null
                                                Strongly agree                                                            0.0
                                                0.05                                                                     null
                                                Mean                                                                 2.526401
                                                0.05                                                                        C

Question                                                                            \
Values                                                                       Urban
Test-IDs                                                                         B
Question                                        Values
Store 1 - I had a good experience in the store. Base                        2245.0
                                                Strongly disagree             24.6
                                                0.05                          null
                                                Disagree                      24.9
                                                0.05                          null
                                                Neither agree nor disagree    26.0
                                                0.05                          null
                                                Agree                         24.5
                                                0.05                          null
                                                Strongly agree                 0.0
                                                0.05                          null
                                                Mean                           2.5
                                                0.05                          null

Question                                                                               \
Values                                                                       Suburban
Test-IDs                                                                            C
Question                                        Values
Store 1 - I had a good experience in the store. Base                           1180.0
                                                Strongly disagree           27.542373
                                                0.05                              A.E
                                                Disagree                    25.847458
                                                0.05                             null
                                                Neither agree nor disagree  23.050847
                                                0.05                             null
                                                Agree                       23.559322
                                                0.05                             null
                                                Strongly agree                    0.0
                                                0.05                             null
                                                Mean                         2.426271
                                                0.05                             null

Question                                                                               \
Values                                                                          Rural
Test-IDs                                                                            D
Question                                        Values
Store 1 - I had a good experience in the store. Base                            718.0
                                                Strongly disagree            23.67688
                                                0.05                             null
                                                Disagree                    25.348189
                                                0.05                             null
                                                Neither agree nor disagree  24.233983
                                                0.05                             null
                                                Agree                       26.740947
                                                0.05                             null
                                                Strongly agree                    0.0
                                                0.05                             null
                                                Mean                          2.54039
                                                0.05                                C

Question
Values                                                                         Remote
Test-IDs                                                                            E
Question                                        Values
Store 1 - I had a good experience in the store. Base                            829.0
                                                Strongly disagree           22.557298
                                                0.05                             null
                                                Disagree                    24.969843
                                                0.05                             null
                                                Neither agree nor disagree  26.658625
                                                0.05                             null
                                                Agree                       25.814234
                                                0.05                             null
                                                Strongly agree                    0.0
                                                0.05                             null
                                                Mean                         2.557298
                                                0.05                                C

Here we have added `mean` to the results, and as we can see, it gets tested for significance as well as the other answers.

## `filter` - selecting cuts from your data
We can select subsets of the data to work with for a particular crosstab, instead of filtering the whole dataset like we did in [the section on cleaning](../3_clean_data), with the parameter `f`.

In [6]:
dataset.crosstab(x='q14r06c03', y='locality', f={'gender':[1]})

Question                                                                      How would you describe the areas in which you live?  \
Values                                                                                            CBD (central business district)
Question                                           Values
Store 3 - The wait time when checking out was a... Base                                                                    768.0
                                                   Strongly disagree                                                       194.0
                                                   Disagree                                                                208.0
                                                   Neither agree nor disagree                                              175.0
                                                   Agree                                                                   191.0
                                                   Strongly agree                                                            0.0

Question                                                                              \
Values                                                                         Urban
Question                                           Values
Store 3 - The wait time when checking out was a... Base                        529.0
                                                   Strongly disagree           130.0
                                                   Disagree                    127.0
                                                   Neither agree nor disagree  126.0
                                                   Agree                       146.0
                                                   Strongly agree                0.0

Question                                                                                \
Values                                                                        Suburban
Question                                           Values
Store 3 - The wait time when checking out was a... Base                          285.0
                                                   Strongly disagree              72.0
                                                   Disagree                       66.0
                                                   Neither agree nor disagree     65.0
                                                   Agree                          82.0
                                                   Strongly agree                  0.0

Question                                                                              \
Values                                                                         Rural
Question                                           Values
Store 3 - The wait time when checking out was a... Base                        166.0
                                                   Strongly disagree            50.0
                                                   Disagree                     35.0
                                                   Neither agree nor disagree   38.0
                                                   Agree                        43.0
                                                   Strongly agree                0.0

Question
Values                                                                        Remote
Question                                           Values
Store 3 - The wait time when checking out was a... Base                        168.0
                                                   Strongly disagree            47.0
                                                   Disagree                     48.0
                                                   Neither agree nor disagree   34.0
                                                   Agree                        39.0
                                                   Strongly agree                0.0